mosquitto/data
mosquitto/logs
otrecorder
build
iot_sb.egg-info
%projects%iot_smartbuilding

Pipfile.lock


logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
.DS_Store
dist
dist-ssr
coverage
*.local

/cypress/videos/
/cypress/screenshots/