[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dynaconf = "3.2.1"
iot_sb = {editable = true, path = "."}
paho-mqtt = "*"
mqtthandler = "*"

[dev-packages]
black = "23.7.0"
setuptools = "68.1.2"

[requires]
python_version = "3.11"
